.picsum-img-wrapper{
    display: block;
    overflow:hidden;
    width: 100%;
    margin-bottom: 20px;
}

img{  
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}
.carousel-caption{
    background: rgba(0, 0, 0, 0.4);
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 10vw;
    font-weight: 100;
    text-align: center;
    line-height: 1;
    object-position: bottom;
}