
<ngb-carousel class="slider">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img/Meal.gif" class="carrouselImage" />
		</div>
		<div class="carousel-caption">
			<h3>Eat healthy never was easier!</h3>
			<p>Here you'll find vegan recipes and all what you've been dreaming of. As someone said Sky is the limit, or isn't it?</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img/Eggs.gif" />
		</div>
		<div class="carousel-caption">
			<h3>Search easily your dream meal!</h3>
			<p>First check your fridge. Then dive into this app to get inspire with the greatest recipes.</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/img/Cucumber.gif"/>
		</div>
		<div class="carousel-caption">
			<h3>Enjoy delicius homemade meals!</h3>
			<p>On SpecialRecipes you'll find the more exquisite recipes.</p>
		</div>
	</ng-template>
</ngb-carousel>



