@font-face {
    font-family: "Renaiss Italic";
    src: url('../../assets/fonts/Renaiss-Italic.ttf');
}
.nomLogo{
    font-family: "Renaiss Italic";
    font-size: 20px;
}
.navbar-brand img{
    max-width: 80px;
}

