<div class="container">
    <div class="row align-items-center">
        <div class="row">
            <h2>¡Welcome!</h2>
            <h2>to</h2>
            <h1>Special Recipes</h1>
            <p> 
                Here you'll find the every kind of recipe that you've ever needed.
                From vegan dishes to food without tacc, on this page you will find the most exquisite dishes.
                You can make your favorite dish easily. Search for the recipe you want from the search engine at the top of the screen.
            </p>
        </div>
        <div class="row botones align-items-bottom">
            <div class="col">
                <a  [routerLink]="'/recipes'">Vegan Recipes</a>
            </div>
            <div class="col">
                <a [routerLink]="'/recipes/gluten-free'">Gluten Free Recipes</a>
            </div>
        </div>
    </div>
</div>
