<div class="container">
    <div *ngIf="recipe;else not_found" >
    
        <div style="min-height:550px;">
            <h1>{{recipe!.name}}</h1>
            <hr>
            <img [src]="recipe.thumbnail_url" [alt]="recipe.name">
    
            <div *ngIf="recipe.description">
                <h5><strong>Description: </strong></h5>
                <span class="text">{{recipe.description}}</span>
            </div>
    
            <div *ngIf="recipe.ingredients">
                <h5><strong>Ingredients: </strong></h5>
                <ul class="ingredients">
                    <div *ngFor="let ingridient of recipe.ingredients">
                        <li class="ingridient_detail">
                            {{ingridient.original}}
                        </li>
                    </div>
                </ul>
            </div>
    
            <span class="text">
                <fa-icon [icon]="timerIcon"></fa-icon>
                &nbsp; Prep Time: {{recipe.prep_time_minutes}} minutes &nbsp;
    
                <div *ngIf="recipe.cook_time_minutes" >
                    <fa-icon [icon]="timerIcon"></fa-icon>
                    &nbsp; Cook Time: {{recipe.cook_time_minutes}} minutes 
                </div>
            </span>
    
            <span class="text">
                Ratings: &nbsp; 
                <fa-icon [icon]="thumbsUpIcon"></fa-icon>
                &nbsp; {{recipe.user_ratings.count_positive}} &nbsp;  
                <fa-icon [icon]="thumbsDownIcon"></fa-icon>
                &nbsp; {{recipe.user_ratings.count_negative}}
            </span>
    
            <div *ngIf="recipe.instructions">
                <h5><strong>Instructions: </strong></h5>
                <div *ngFor="let step of recipe.instructions">
                    <span class="text">{{step.position}}.&nbsp; {{step.display_text}}</span>
                </div>
            </div>
    
            <div *ngIf="recipe.instructionsText">
                <h5><strong>Instructions: </strong></h5>
                <p>{{recipe.instructionsText}}</p>
            </div>
    
        </div>
    </div>
    
    <ng-template #not_found>
        <app-loader></app-loader>
    </ng-template>
</div>


