h1{
    padding-top: 30px;
    color:  rgb(253, 143, 0);
}
img{
    max-height: 400px;
    max-width: 500px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    object-fit: scale-down;
}
h5{
    padding-top: 20px;
}
.text{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}