<div class="container">
    <div class="row align-items-center">
        <div class="row">
            <h2>¡Bienvenido!</h2>
            <h2>a</h2>
            <h1>Recetas Especiales</h1>
            <p>Aquí encontrará todo tipo de recetas culinarias que usted necesite. 
            Desde platos veganos a comida sin tacc, en esta página encontrará todo tipo de exquisiteses para que usted
            pueda realizar su plato favorito de forma sencilla. Busque la receta que usted quiera a partir del buscador en la parte superior de la pantalla.
            Además de tener la posibilidad de buscar de forma más detallada con la opción de búsqueda avanzada. Puede darle un puntaje del 1 al 5 para compartir su opinión sobre estas recetas</p>
        </div>
        <div class="row botones align-items-bottom">
            <div class="col">
                <a  [routerLink]="'/recipes'">Recetas Veganas</a>
            </div>
            <div class="col">
                <a href="#">Recetas Sin Tacc</a>
            </div>
        </div>
    </div>
</div>
