h1{
    color:  rgb(253, 143, 0);
    text-shadow: 1px 1px 2px pink;
    text-align: center;
}

h6{   
    color: rgb(30, 30, 30);
    text-align: center;
    padding-bottom: 10px;
}

.logginButton{
    width: 100%;
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(253, 143, 0);
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 200px;
}
/* todo: align center button */