<div style="min-height:579px;">
  <div class="image"><img src="assets/img/loginGif.gif" alt="login"></div>
  <div class="row align-items-center">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <h1>Sign Up</h1>
      <div class="row">
        <label for="user-name">User Name: </label>
        <input id="user-name" type="text" formControlName="userName">
        <label for="email-address">Email address: </label>
        <input id="email-address" type="text" formControlName="emailAddress">
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password">
      </div>
      <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      <button [routerLink]="'/home'">Login</button>
    </form>
  </div>
</div>
