<div class="row align-items-center" style="min-height: 500px;">
  <div class="row">
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="username">Username: </label>
    <br>
    <input id="username" type="text" formControlName="firstName">
    <br>
    <label for="password">Password: </label>
    <br>
    <input id="password" type="password" formControlName="lastName">
    <br>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button [routerLink]="'/home'" >Login</button>
</form>
  </div></div>
